@model IEnumerable<App.Volvo.Site.ViewModels.CaminhaoViewModel>

@{
    ViewData["Title"] = "Caminhões";
}

<h1>Caminhões</h1>

<p>
    <a class="" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoFabricacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chassi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFabricacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chassi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
